https://oceanofanythingofficial.github.io/exe-icons/Compil32.svg
https://oceanofanythingofficial.github.io/exe-icons/ISCC_MAINICON.svg
https://oceanofanythingofficial.github.io/exe-icons/Setup_MAINICON.svg
https://oceanofanythingofficial.github.io/exe-icons/Uninstall_110.svg
https://oceanofanythingofficial.github.io/exe-icons/WizModernSmallImage-IS.svg
https://oceanofanythingofficial.github.io/exe-icons/WizModernSmallImage.svg
https://oceanofanythingofficial.github.io/exe-icons/icon1.svg
https://oceanofanythingofficial.github.io/exe-icons/icon10.svg
https://oceanofanythingofficial.github.io/exe-icons/icon11.svg
https://oceanofanythingofficial.github.io/exe-icons/icon12.svg
https://oceanofanythingofficial.github.io/exe-icons/icon13.svg
https://oceanofanythingofficial.github.io/exe-icons/icon2.svg
https://oceanofanythingofficial.github.io/exe-icons/icon3.svg
https://oceanofanythingofficial.github.io/exe-icons/icon4.svg
https://oceanofanythingofficial.github.io/exe-icons/icon5.svg
https://oceanofanythingofficial.github.io/exe-icons/icon6.svg
https://oceanofanythingofficial.github.io/exe-icons/icon7.svg
https://oceanofanythingofficial.github.io/exe-icons/icon8.svg
https://oceanofanythingofficial.github.io/exe-icons/icon9.svg
https://oceanofanythingofficial.github.io/exe-icons/installer1.svg
